%clearsans-regular {
    font-family: 'ClearSans-Regular', sans-serif;
    font-weight: 400;
}

%segoe-regular {
    font-family: 'SegoeUI-Regular', sans-serif;
    font-weight: 400;
}

%segoe-bold {
    font-family: 'SegoeUI-Bold', sans-serif;
    font-weight: 700;
}
